<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274454861386-ld36irp72umnmupdfgv5226uagi14d03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274454861386-ld36irp72umnmupdfgv5226uagi14d03</string>
	<key>API_KEY</key>
	<string>AIzaSyBaBs3GgDDg8WZKcXNGDWM_rTjFWfZH0Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>274454861386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aoyamakai.TwitterLoginPractice</string>
	<key>PROJECT_ID</key>
	<string>twitterlogin-9f87f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterlogin-9f87f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274454861386:ios:aab44664b866665cb438b3</string>
</dict>
</plist>